body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: rgb(66, 65, 65);
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

li {
  list-style: none;
  color: #a8a8a8;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.col-4 strong {
  color: rgb(66, 65, 65);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 15px;
  top: -24px;
}
